body {
    display: flex;
    justify-content: center;
    background-color: #84D4FA;
    margin: 0;
    padding: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
}

.content {
    display: grid;
}

.container {
    background-color: #fff;
    border-radius: 0 7px 7px 0;
    margin: 10px 0 20px 0;
    padding: 10px;
    /* box-shadow: 0 4px 6px #0000001a; */
    max-width: 400px;
    display: flex;
}

.container .section {
    display: flex;
}

.container .section section:nth-of-type(1) {
    flex-grow: 1;
    font-weight: bold;
}

.container .section section:nth-of-type(2) {
    flex-grow: 1;
    /* margin: 10px; */
}

footer {
    user-select: none;
    background-color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 4px 4px 8px 4px #000000b3;
    height: 50vb;
    padding: 10px;
}